body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #761014;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}